<!DOCTYPE html>

<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css">

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-light mb-4">
   <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/messages">All Messages</a>
    <a class="navbar-brand" href="/send">Send</a>
    <a class="navbar-brand" href="/export_photos.csv">Export Messages</a>
  </nav>
  <%= notice%>
  <%=alert%>
    <%= yield %>
  </body>
</html>
